.orange-background {
    background-color: #fceae8;
    border-radius: 8px;
}
.container {
    margin-bottom: 50px;
}
.carousel-item {
    padding: 30px 30px;
}

.price {
    color: #ff136F;
    font-weight: 700;
}

.buy-now-btns {
    background-image: linear-gradient(to bottom, #ff136F, rgb(255, 19, 176));
    border-radius: 6px;
    border: none;
    padding: 7px 15px;
    color: #fff;
}
.cat1, .cat2, .cat3 {
    padding: 10px 30px;
    border-radius: 10px;
    transition: all 0.7s;
}

.cat1:hover, .cat2:hover, .cat3:hover {
    transform: scale(1.05);
}
.cat1 {
    background-color: orange;
}

.cat2 {
    background-color: orchid;
}

.cat3 {
    background-color: blue;
}
  

.categories h1 {
    color: #fff;
}

.categories img {
    width: 100px;
}

.card {
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
    transition: all .7s;
}
.card:hover {
    transform: scale(1.05);
}

.card-footer {
    background-color: #fff;
    border-top: none;
}

 